server:
  port: 8080

jwt:
  expiration: 86400000

application:
  name: "main-service"
  storagePath: "./storage.txt"

spring:
  application:
    name: "gym-part-1"

  profiles:
    active: dev

  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin
    in-memory: false   # false = use external broker
    jms:
      pub-sub-domain: false  # false = Point-to-Point (queue), true = Topic

management:
  endpoint:
    health:
      show-details: always
    web:
      exposure:
        include : "*"
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - [%6.32X{transactionId}] %msg%n"